.sci-cbse{
    background-color: crimson;
    padding:70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}
.sci-cbse .sci1{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci2{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci3{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci4{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci5{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci6{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci7{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci8{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci9{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci10{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci11{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci12{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci13{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci14{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci15{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.sci-cbse .sci16{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
