.main-tam .heading{
    padding: 100px;   
    background-color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    color: black;
}
.main-tam .tam1{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam2{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam3{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam4{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam5{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam6{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam7{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam8{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}
.main-tam .tam9{
    padding: 50px;
    background-color: crimson;
    text-align: center;
}